<div class="jumbotron">
    <h1>.NET Development<br />for SQL Developer</h1>
    <p>
        This is a web site that will collect userful stories for SQL developer that can use .NET somewhere in his daily work. This work has born from my session at SQL Saturday 2013
        (<a href="@Url.Action("SqlSat257","Events")">Verona</a>, <a href="http://www.sqlsaturday.com/viewsession.aspx?sat=264&sessionid=18415">Ancona</a>, and <a href="http://www.sqlsaturday.com/viewsession.aspx?sat=274&sessionid=18576">Slovenia</a>)
    </p>
    <p>And, for developers, this is a WebSite hosted in Windows Azure (<a href="http://dotnet4sql.azurewebsites.net/">http://dotnet4sql.azurewebsites.net/</a>, edited with the new Visual Studio Online "Monaco".</p>
</div>