
<div class="page-header">
    <h1>SQL Saturday #257<small>Verona - November 9th, 2013</small></h1>
</div>
<div class="row page-header">
    <div class="col-lg-4">
        <ul class="nav">
            <li><a target="_blank" href="http://www.sqlsaturday.com/viewsession.aspx?sat=257&sessionid=16750">Event Page</a></li>
            <li><a target="_blank" href="http://www.slideshare.net/marco.parenzan/sql-saturday-257-verona-marco-parenzan">Slides</a></li>
            <li><a target="_blank" href="https://github.com/marcoparenzan/SQLSAT257MarcoParenzan">Demo code</a></li>
        </ul>
    </div>
    <div class="col-lg-8">
        <iframe src="http://www.slideshare.net/slideshow/embed_code/28081832" width="525" height="455" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC;border-width:1px 1px 0;margin-bottom:5px" allowfullscreen> </iframe>
    </div>
</div>

