<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content=".NET 4 SQL">
    <meta name="author" content="Marco Parenzan">
    <link rel="shortcut icon" href="~/content/ico/favicon.png">

    <title>.NET Development for SQL Developer</title>

    <!-- Bootstrap core CSS -->
    <link href="~/content/css/bootstrap.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="~/content/scripts/jquery-1.10.2.js"></script>
    <script src="~/content/scripts/bootstrap.js"></script>
</head>

<body style="padding-top:60px">
    <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">.NET Development for SQL Developer</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="@Url.Action("Index", "Activities")">Activities</a></li>
                </ul>
            </div><!-- /.nav-collapse -->
        </div><!-- /.container -->
    </div><!-- /.navbar -->

    <div class="container">

        <div class="row">

            <div class="col-md-9">
                    @RenderBody()

            </div><!--/span-->

            <div class="col-md-3" id="sidebar" role="navigation">
                <div class="list-group">
                    <a href="@Url.Action("Index","Home")" class="list-group-item">Home</a>
                    <a href="@Url.Action("Index","Activities")" class="list-group-item">Activities</a>
                </div>
            </div>
        </div>

        <hr>

        <footer>
            <p>&copy; <a href="http://www.marcoparenzan.it/">Marco Parenzan</a> 2013</p>
        </footer>

    </div><!--/.container-->

</body>
</html>
